data:
  path: null
  max_length: null
  batch_size: 128

actor:
  model_name: null
  ref_model_name: ${actor.model_name}
  optimizer_dir: null
  fsdp_size: 0
  sp_size: 1
  gradient_checkpointing: true
  max_length_per_device: null
  beta: 0.1
  lr: 5e-7
  weight_decay: 1e-2
  max_grad_norm: 1.0
  warmup_ratio: 0.1
  offload_optimizer: false
  save_dir: ckpts/${trainer.experiment_name}
  save_freq: null
  save_optimizer: true

  lora:
    rank: 0
    alpha: 16
    target_modules: all-linear
    dropout: 0

trainer:
  project: null
  experiment_name: null
  n_epochs: 1
  disable_wandb: false